[Unit]
Description=Anki Robotics System
Requires=multi-user.target init_post_boot.service
After=multi-user.target init_post_boot.service
AllowIsolate=yes
