[Unit]
Description=Use update-engine to do an OTA right after we get Internet
DefaultDependencies=No
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c 'echo UPDATE_ENGINE_MAX_SLEEP=1 > /run/update-engine-oneshot.env'
ExecStart=/bin/systemctl start update-engine

[Install]
WantedBy=multi-user.target
