# Service to generate a CA cert for vic-gateway

[Unit]
Description=Generate x509 cert for vic-gateway
After=vic-switchboard.service
Requires=vic-switchboard.service
PartOf=anki-robot.target

[Service]
Type=oneshot
ExecStart=/sbin/vic-gateway-cert
RemainAfterExit=true
User=net
Group=anki
UMask=0002

# VIC-1951: Temporarily add CAP_DAC_READ_SEARCH to enable running as
# lower priv than root until we determine which file access is required.
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH

[Install]
WantedBy=anki-robot.target
