[Unit]
Description=Victor engine daemon
SourcePath=/anki/bin/vic-engine
PartOf=anki-robot.target

Wants=vic-anim.service
After=vic-anim.service

[Service]
PermissionsStartOnly=true
EnvironmentFile=/anki/etc/vic-engine.env
ExecStartPre=/bin/chown engine:root /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
ExecStartPre=/bin/chown engine:root /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
ExecStartPre=/bin/chgrp anki /dev/block/bootdevice/by-name/emr
ExecStart=/usr/bin/logwrapper /anki/bin/vic-engine $VIC_ENGINE_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Restart=no
User=engine
Group=anki
UMask=0002

[Install]
WantedBy=anki-robot.target
