[Unit]
Description=Victor animator daemon
SourcePath=/anki/bin/vic-anim
PartOf=anki-robot.target

Wants=vic-robot.service
Requires=anki-audio-init.service
After=vic-robot.service anki-audio-init.service

OnFailure=animfail.service

[Service]
EnvironmentFile=/anki/etc/vic-anim.env
Restart=no
ExecStart=/usr/bin/logwrapper /anki/bin/vic-anim $VIC_ANIM_OPTS
Nice=-2

[Install]
WantedBy=anki-robot.target
