[Unit]
Description=Victor robot daemon
SourcePath=/anki/bin/vic-robot
PartOf=anki-robot.target

Wants=vic-crashuploader.service
After=vic-crashuploader.service

[Service]
PermissionsStartOnly=true
EnvironmentFile=/anki/etc/vic-robot.env
ExecStartPre=/bin/chown robot /dev/ttyHS0 /dev/spidev0.0
ExecStartPre=/bin/chgrp anki /dev/block/bootdevice/by-name/emr
ExecStart=/anki/bin/vic-robot $VIC_ROBOT_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Restart=no
User=robot
Group=anki
UMask=0002

# Robot process runs at top priority
Nice=-20

# Set CPUAffinity to exclude 0 to minimize tick schedule interruption
CPUAffinity=1 2 3

# VIC-1884: Hard kill at 5 seconds if process doesn't respond to SIGTERM
TimeoutStopSec=5

[Install]
WantedBy=anki-robot.target
