[Unit]
Description=Victor engine daemon
SourcePath=/anki/bin/vic-engine
After=vic-anim.service
Wants=vic-anim.service
PartOf=anki-robot.target

ConditionFileIsExecutable=/usr/bin/logwrapper
ConditionFileIsExecutable=/anki/bin/vic-engine

[Service]
EnvironmentFile=/anki/etc/vic-engine.env
Restart=no
ExecStart=/usr/bin/logwrapper /anki/bin/vic-engine $VIC_ENGINE_OPTS

[Install]
WantedBy=anki-robot.target
