[Unit]
Description=Victor Boot Animator
SourcePath=/anki/bin/vic-bootAnim
DefaultDependencies=no

[Service]
Type=simple
Restart=no
RemainAfterExit=no
ExecStart=/anki/bin/vic-bootAnim
ExecStopPost=/anki/bin/vic-on-exit
Group=anki
UMask=0002

[Install]
WantedBy=sysinit.target
