[Unit]
Description=Victor cloud services daemon
SourcePath=/anki/bin/vic-cloud
PartOf=anki-robot.target

Wants=vic-engine.service
After=vic-engine.service

ConditionFileIsExecutable=/usr/bin/logwrapper
ConditionFileIsExecutable=/anki/bin/vic-cloud

[Service]
EnvironmentFile=/anki/etc/vic-cloud.env
ExecStart=/usr/bin/logwrapper /anki/bin/vic-cloud $VIC_CLOUD_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Restart=no
Group=anki
UMask=0002

[Install]
WantedBy=anki-robot.target
