[Unit]
Description=Victor gateway daemon
SourcePath=/anki/bin/vic-gateway
PartOf=anki-robot.target

Requires=vic-gateway-cert.service
Wants=vic-engine.service vic-cloud.service vic-switchboard.service
After=vic-gateway-cert.service vic-engine.service vic-cloud.service vic-switchboard.service

[Service]
EnvironmentFile=/anki/etc/vic-gateway.env
ExecStart=/usr/bin/logwrapper /anki/bin/vic-gateway $VIC_GATEWAY_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Restart=no
User=net
Group=anki
UMask=0002

# BRC: VIC-1951 temporarily add CAP_DAC_READ_SEARCH to enable running as
# lower priv than root until we determine which file access is required.
# BRC: VIC-8849 CAP_SYS_BOOT required to allow reboot (after update check)
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH CAP_SYS_BOOT

[Install]
WantedBy=anki-robot.target
