[Unit]
Description=Victor robot daemon
SourcePath=/anki/bin/vic-robot
PartOf=anki-robot.target

Wants=vic-init.service
After=vic-init.service

[Service]
EnvironmentFile=/anki/etc/vic-robot.env
ExecStart=/usr/bin/logwrapper /anki/bin/vic-robot $VIC_ROBOT_OPTS
Restart=no

# Robot process runs at top priority
Nice=-20

# Set CPUAffinity (required isolcpus kernel arg)
CPUAffinity=3

# VIC-1884: Hard kill at 5 seconds if process doesn't respond to SIGTERM
TimeoutStopSec=5

[Install]
WantedBy=anki-robot.target
