[Unit]
Description=Victor watchdog daemon
SourcePath=/anki/bin/vic-watchdog
PartOf=multi-user.target

Wants=vic-init.service
After=vic-init.service

ConditionFileIsExecutable=/anki/bin/vic-watchdog
ConditionPathExists=/anki/etc/vic-watchdog.env

[Service]
EnvironmentFile=/anki/etc/vic-watchdog.env
ExecStart=/usr/bin/logwrapper /anki/bin/vic-watchdog $VIC_WATCHDOG_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
