[Unit]
Description=Victor engine daemon
SourcePath=/anki/bin/vic-engine
PartOf=anki-robot.target

Wants=vic-anim.service
After=vic-anim.service

[Service]
EnvironmentFile=/anki/etc/vic-engine.env
Restart=no
ExecStart=/usr/bin/logwrapper /anki/bin/vic-engine $VIC_ENGINE_OPTS

[Install]
WantedBy=anki-robot.target
