[Unit]
Description= Remote Storage Service
SourcePath=/sbin/rmt_storage
Wants=systemd-udevd.service
After=usb.service systemd-udevd.service
Before=init_sys_mss.service

[Service]
Restart=always
ExecStart=/sbin/rmt_storage

[Install]
WantedBy=multi-user.target
