[Unit]
SourcePath=/etc/initscripts/ankiinit
Description=Anki Post Boot Service
Wants=leprop.service
After=init_post_boot.service leprop.service pstore.mount

[Service]
Type=oneshot
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=yes
ExecStart=/etc/initscripts/ankiinit

