[Unit]
Description=Victor crash uploader daemon
SourcePath=/anki/bin/vic-crashuploader
PartOf=anki-robot.target

Wants=vic-init.service
After=vic-init.service

ConditionFileIsExecutable=/anki/bin/vic-crashuploader

[Service]
Type=simple
EnvironmentFile=/anki/etc/vic-crashuploader.env
ExecStartPre=/usr/bin/logwrapper /anki/bin/vic-crashuploader-init $VIC_CRASHUPLOADER_OPTS
ExecStart=/usr/bin/logwrapper /anki/bin/vic-crashuploader $VIC_CRASHUPLOADER_OPTS
Restart=no
Group=anki
UMask=0002

[Install]
WantedBy=anki-robot.target
