[Unit]
Description=BT Property Service
SourcePath=/etc/initscripts/start_btproperty
After=mount-data.service

[Service]
User=bluetooth
Restart=always
RemainAfterExit=yes
ExecStart=/etc/initscripts/start_btproperty start
ExecStop=/etc/initscripts/start_btproperty stop

[Install]
WantedBy=multi-user.target
