[Unit]
Description=Fallback error code if animation process can't run
SourcePath=/bin/animfail
DefaultDependencies=no

[Service]
Type=simple
Restart=no
RemainAfterExit=no
ExecStart=/bin/animfail
