[Unit]
SourcePath=/etc/initscripts/ankiinit
Description=Anki Post Boot Service

[Service]
Type=oneshot
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=yes
ExecStart=/etc/initscripts/ankiinit
After=init_post_boot.target
