[Unit]
SourcePath=/usr/bin/QCMAP_ConnectionManager
Description= QCMAP connectionManager service

[Service]
Restart=always
ExecStart=/usr/bin/QCMAP_ConnectionManager /data/mobileap_cfg.xml d

[Install]
WantedBy=multi-user.target