[Unit]
Description=Connection service preparation
After=init_post_boot.service mount-data.service
Before=connman.service
Wants=mount-data.service connman.service

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/default/connman
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
