[Unit]
Description=Anki Bluetooth Daemon
Requires=btproperty.service ankiinit.service leprop.service
After=btproperty.service ankiinit.service leprop.service

[Service]
User=bluetooth
Restart=always
RestartSec=30
ExecStart=/usr/bin/ankibluetoothd
AmbientCapabilities=CAP_WAKE_ALARM

[Install]
WantedBy=multi-user.target
