[Unit]
Description=Victor Developer Setup Over BLE
Requires=ankibluetoothd.service
After=ankibluetoothd.service

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/sbin/start-stop-daemon -S -b -a /usr/bin/vicdevsetup

[Install]
WantedBy=multi-user.target
