[Unit]
Description=Process fault codes written to /run/fault_code
SourcePath=/bin/fault-code-handler
DefaultDependencies=no

[Service]
Type=simple
Restart=no
RemainAfterExit=no
EnvironmentFile=-/anki/etc/fault-code-handler.env
ExecStart=/bin/fault-code-handler

#
# Note that stdout/stderr are explicitly directed to journal.
# Documentation says this should be default behavior, but 
# our version of systemd sends stdout/stderr back to socket.
#
StandardInput=socket
StandardOutput=journal
StandardError=journal
