[Unit]
Description=Process fault codes written to /run/fault_code
SourcePath=/bin/fault-code-handler
DefaultDependencies=no

[Service]
Type=simple
Restart=no
RemainAfterExit=no
EnvironmentFile=-/anki/etc/fault-code-handler.env
ExecStart=/usr/bin/logwrapper /bin/fault-code-handler
StandardInput=socket
StandardOutput=journal
StandardError=journal
